.container{
    width: 100%;
    height: 90%;
    background-color: #2f6a9d;
    display: flex;
}
table{
    background-color: rgba(192, 200, 100, 0.9);
}
form{
    color: white;
    width: 500px;
    height: 300px;
     background-color: hsl(225, 50%, 10%,);
}